#color1 {
    width: 150px;
    height: 30px;
    background-color: #002C1A;
    color: white;
}

#color2 {
    width: 150px;
    height: 30px;
    background-color: #0E4A32 ;
    color: white;
}

#color3 {
    width: 150px;
    height: 30px;
    background-color: #15573C;
    color: white;
}

#color4 {
    width: 150px;
    height: 30px;
    background-color: #2D7768;
    color: white;
}

#color5 {
    width: 150px;
    height: 30px;
    background-color: #3A8482;
    color: white;
}

#color6 {
    width: 150px;
    height: 30px;
    background-color: #418D98;
    color: white;
}

#color7 {
    width: 150px;
    height: 30px;
    background-color: #4592A6;
    color: white;
}

#color8 {
    width: 150px;
    height: 30px;
    background-color: #4895B0;
    color: white;
}

#color9 {
    width: 150px;
    height: 30px;
    background-color: #78ADEA;
    color: white;

}

#color10 {
    width: 150px;
    height: 30px;
    background-color: #78ADEA;
    color: white;

}

#color11 {
    width: 150px;
    height: 30px;
    background-color: #B6D8FF;
    color: white;

}
