@font-face {
    font-family: 'ferrum';
    src: url('css/font/ferrum');
}

html {

    font-family: "ferrum";
    background: #000;
}


#block-popup-1 {
    position: absolute;
    top: 10%;
    left: 30%;
    border: 3px solid black;
    width: 600px;
    height: auto;
    color: white;
    background-image: url('img/Cloud-art.png'), linear-gradient(to right ,#6EEDBD, black);
    background-repeat: no-repeat;
}

.popup-description-1 {


    padding: 1em;
    word-wrap: break-word;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    font-weight: bold;
}

#block-popup-1 li {

    list-style: none;
}

span {

    color: #539BBF;

}

#p2 {
    display: none;
   position: absolute;
   top: 38%;
}

.button-div {
    border-radius: 1em;
    height: 2em;
    background-image: radial-gradient(circle at 9px 20px,#6BE6B8,black);

}

#after {
    position: absolute;
    right: 10px;
    border: 1px solid black;
}

#before {
    border: 1px solid #6EEDBD ;

}